#header {
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

p {
    padding-left: 125px;
    padding-right: 125px;
    font-family: 'Lato', sans-serif;
}
